.favorite-car {
    display: inline-flex;
}

.favorite__submit {
    border: 0px;
    background-color: #f7f7f7;
    svg {
        width: 18px;
        height: 18px;
        color: #fcba03;
    }
}

.favorites {
    margin-top: 25px;
    .card-body {
        display: flex;
        flex-wrap: wrap;
    }
}

.favorite-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgba(126, 126, 126, 0.32);
    border-radius: 15px;
    padding: 10px;
    margin-right: 25px;
    margin-bottom: 25px;

    .license {
        font-weight: bold;
        font-size: 15px;
    }
}
